{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}crear post{%endblock %}
{% block contenido %}
{% load static %}

   {% if form.errors %}

      <div class="alert alert-danger" role="alert">
         A simple danger alert—check it out!
      </div>
   {% endif %}

   <h1> Actualizacion de Post </h1>

   <form action="{% url 'post:actualizarPost' post.id %}" method="POST">
      {% csrf_token %}
      {% if mensaje %}
         <div class="alert alert-success" role="alert">
            Post actualizado exitosamente
         </div>
      {% endif %}

      {{form|crispy}}

      <button type="submit" class="btn btn-primary">Guardar</button>
      <a class="btn btn-warning" href="{% url 'index' %}">Cancelar</a>
   </form>
{% endblock %}
